.nav-right{
    text-align:right;
    margin-right:15px;
    position:relative;
}
.nav-left {
    text-align:left;
    margin-left:15px;
    position:absolute;
    
}

.nav-choices{
    position:relative;
    margin-left:400px;
}

.form-text{
    max-width:200px;
/*     margin:5px; */
}

.reg-form{
    margin-top:50px;
   
}
.add5-margin{
    margin:5px;
    
}
.add10-margin{
    margin:10px;
    
}

.add10-margin-top{
    margin-top:10px;
}

.add5bottom{
    margin-bottom:10px;
}

.list-table td{
    border:1px solid #d0d0d0;
}

.bordered-table{
     border:2px solid black;
    
}

.cell-left{
    border-left: 2px solid black;
    border-top:2px solid black;
    border-bottom:2px solid black;
    border-right:1px solid black;
}
.cell-right{
    border-right:2px solid black;
    border-top:2px solid black;
    border-bottom:2px solid black;
    border-left:1px solid black;
}

a{
    cursor: pointer;
}

img .scpdb{
    width:50px;
    height:50px;
}

img .jsmol{
    width:180px;
    height:80px;
}


.black-text{
    color:black;
}

.side-margin{
    margin-left:5%;
    margin-right:5%;
}

.wide{
    width:75%;
}

